<article class="container_article">

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

<!--
  <div class="field">
    <%= f.label :name %><br />
    <%= f.password_field :name, autocomplete: "name" %>
  </div>
-->

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-sm btn-primary" %>
  </div>
<% end %>

<p>
<div class="actions">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |g| %>
    <%= g.hidden_field :email, value:"user01@smoothrunning.com" %>
    <%= g.hidden_field :password, value:"user01" %>
    <%= g.submit "Log in As Sample-User (ReadWrite)", class: "btn btn-sm btn-secondary", id: "sample_user_login_submit" %>
  <% end %>
</div>
<div class="actions">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |g| %>
    <%= g.hidden_field :email, value:"guest@smoothrunning.com" %>
    <%= g.hidden_field :password, value:"__guest__" %>
    <%= g.submit "Log in As Guest-User (ReadOnly)", class: "btn btn-sm btn-warning", id: "guest_user_login_submit" %>
  <% end %>
</div>

<p>
<%= render "devise/shared/links" %>
</article>