

<!--
<p>jQuery動作テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("成功！！");
  });
</script>
-->

<%= javascript_pack_tag 'sites/index' %>

<article class="container_article">
  <h1><i class="fas fa-map-marker-alt"></i>&nbsp;Sites @ <%= current_user.keep_team.name %></h1>

  <div id="map_index" style="width: 600px; height: 300px;"></div>
  <input name="ha_json_points" type="hidden" value="<%= @points %>" class="ha_json_points">

  <div>
    <ul id="site_index_clickmenu">
      <li>
        <div id="li_new-site_here">
          <i class="fas fa-plus-square"></i>&nbsp;New-Site this point
	</div>
      </li>
    </ul>
  </div>

  <hr>

<% unless current_user.guest? %>
  <%= link_to raw("<i class=\"fas fa-plus-square\"></i>&nbsp;New Site"),  new_site_path, class: "btn btn-sm btn-info" %>
<% end %>
<%= button_tag "filter option", class:"btn btn-sm btn-warning" %>
<p>

<table class="table table-sm table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Title</th>
<!--      <th>Location</th> -->
      <th>Address</th>
      <th>Description</th>
      <th>CreatedBy</th>
      <th>CreatedAt</th>
      <th>UpdatedAt</th>
      <th colspan="4">(Action)</th>
    </tr>
  </thead>

  <tbody>
    
    <% @sites.each do |site| %>
    <tr>
        <td><%= site.id %></td>      
        <td><%= site.title %></td>
<!--        <td><%= site.geom %></td>                                           -->
<!--        <td>lat:<%= site.geom.y %>&nbsp;/&nbsp;lon:<%= site.geom.x %></td>  -->
        <td><%= site.address %></td>
        <td><%= site.description %></td>
        <td><%= site.user.name %></td>
        <td><%= l site.created_at, format: :short %></td>
        <td><%= l site.updated_at, format: :short %></td>
        <td><div class="site_index_div_pointup" siteid=<%= site.id %>><i class="far fa-hand-point-up fa-lg"></i></div></td>	
        <td><%= link_to raw("<i class=\"fas fa-info-circle\"></i>"), site, class: "btn btn-sm btn-info" %></td>
        <td>
          <%# unless current_user.guest? %>
          <% if (current_user.id == site.user_id) || (current_user.id == current_user.keep_team.owner_id) %>
            <%= link_to raw("<i class=\"fas fa-edit\"></i>"), edit_site_path(site), class: "btn btn-sm btn-secondary" %>
          <% end %>
        </td>
        <td>
          <%# unless current_user.guest? %>
          <% if (current_user.id == site.user_id) || (current_user.id == current_user.keep_team.owner_id) %>
            <%= link_to raw("<i class=\"fas fa-trash-alt\"></i>"), site, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sites, theme: 'twitter-bootstrap-4'%>
</article>
