<!DOCTYPE html>
<html>
  <head>
    <title>Smr2App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="<%= "https://maps.google.com/maps/api/js?v=3&key=#{ENV['GOOGLEMAP_API_KEY']}" %>"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
